<% content_for :breadcrumb do %>
  <li class="breadcrumb-item active">Employees <span class="badge bg-warning">UPDATE</span></li>
<% end %>

<%= render 'form', employee: @employee %>

<%= link_to 'Show', employee_path(@employee.id) %> |
<%= link_to 'Back', employees_path %>
