<% content_for :breadcrumb do %>
  <li class="breadcrumb-item active">Contracts <span class="badge bg-info">ADD</span></li>
  <%= back_to employee_path(@employee.id) %>
<% end %>

<%= render 'form', contract: @contract %>
